* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    border: 5px rgb(163, 140, 140) solid;
    border-radius: 50px;
    background-color: rgba(210, 210, 240, 0.5);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.btn {
    padding: 10px 28px;
    border-radius: 10px;
    border: 1px #0f0f0f solid;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(210, 210, 240);
    border: 2px #0f0f0f solid;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-transform: uppercase;
    border: 5px darkslategrey solid;
    border-radius: 10px;
    padding: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn-game {
    padding: 12px 24px;
}

i {
    transform: scale(2);
}
